$breakpoint-1024: 1024px;
$breakpoint-768: 768px;
$breakpoint-576: 576px;
$container-side-padding: 60px;
$container-side-padding-mobile: 20px;

// colors
$beyond-aqua: #50e3c2;
$beyond-light-grey: #cacaca;
$beyond-dark-grey: #878787;
