/* You can add global styles to this file, and also import other style files */
@import 'variables';

/* some global styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    color: white;
    font-family: Roboto, Helvetica, sans-serif;
    background-color: #191919;
}

a {
    text-decoration: none;
}

/* override default button styles */
button {
    background: none;
    font: inherit;
}

.beyond-container {
    margin-left: auto;
    margin-right: auto;
    min-height: 100vh;
    background-image: url('/assets/images/main_bg.png');
    @media only screen and (max-width: $breakpoint-1024 - 1) {
        width: 100%;
    }
    @media only screen and (min-width: $breakpoint-1024) {
        width: 1024px;
    }

    > .content {
        padding: 0 $container-side-padding;

        @media only screen and (max-width: $breakpoint-768 - 1) {
            padding: 0 $container-side-padding-mobile;
        }
    }
}

@font-face {
    font-family: 'Alfa Slab One';
    src: url('/assets/fonts/Alfa_Slab_One/AlfaSlabOne-Regular.ttf');
    font-weight: normal;
}


// text colors
.text-aqua {
    color: $beyond-aqua;
}

.text-light-grey {
    color: $beyond-light-grey;
}

.text-dark-grey {
    color: $beyond-dark-grey;
}

// custom alignments
.vertical-top {
    vertical-align: top;
}

@font-face {
    font-family: 'Roboto';
    src: url('/assets/fonts/Roboto/Roboto-Regular.ttf');
    font-weight: normal;
}

// font sizes & styles
.beyond-video-title {
    font-size: 16px;
    font-family: Alfa Slab One, Helvetica, sans-serif;
    text-align: left;
    color: $beyond-aqua;
}

.beyond-video-published-date {
    font-size: 13px;
    color: $beyond-light-grey;
}

.beyond-video-description {
    font-size: 12px;
    word-wrap: break-word;
    line-height: 1.25;
    color: $beyond-dark-grey;
}

// pagination / back to list arrow hover effect
.prev-next-button {
    color: $beyond-aqua;
    fill: $beyond-aqua;
    transition: color 0.3s;

    #back_arrow {
        transition: fill 0.3s;
    }

    &:hover:not([disabled]) {
        color: white;
        cursor: pointer;
        #back_arrow {
            fill: white;
        }
    }

    &[disabled] {
        color: $beyond-dark-grey;
        #back_arrow {
            fill: $beyond-dark-grey;
        }
    }
}
